.ReadMoreButton{
  width: 200px;
  height: 50px;
  background-color: #76caca;
  color: #ffffff;
  box-shadow: 0px 4px 0px  #528b86;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.ReadMoreButton-orange{
  background-color: #e8645a;
  box-shadow: 0px 4px 0px  #e2534b;
}