.NavButton{
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: #e4f4f2;
  text-transform: uppercase;
}
.NavButtonCurrent{
  background-color: #62a29e;
  box-shadow: 0px 3px 0px  #528b86;
  border-radius: 5px;

}
